@model List<PassageiroModel>
@{
    ViewData["Title"] = "Consultar Passageiro";
}

<div class="text-center">
    <h2 class="display-4">Consultar Pasageiro</h2>
</div>

  <br/>

    @if(TempData["MensagemSucesso"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemSucesso"]
        </div>   
    }

    @if(TempData["MensagemErro"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemErro"]
        </div>   
    }

    <br/>

<table class="table" id="table-passageiros">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cpf</th>
      <th scope="col">Numwero da Poltrona</th>
      <th scope="col">Compania</th>
      <th scope="col">Origem</th>
      <th scope="col">Destino</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if(Model != null && Model.Any())
    {
        foreach(var passageiro in Model)
        {
                <tr>
                  <th scope="row">@passageiro.Id</th>
                  <td>@passageiro.Nome</td>
                  <td>@passageiro.Email</td>
                  <td>@passageiro.Cpf</td>
                  <td>@passageiro.NumeroPoltrona</td>
                  <td>@passageiro.Compania</td>
                  <td>@passageiro.Origem</td>
                  <td>@passageiro.Destino </td>
                  <td>
                     <a role="button" asp-controller="Passageiro" asp-action="Editar" asp-route-id="@passageiro.Id" class="btn btn-primary">Editar</a>
                     <a role="button" asp-controller="Passageiro" asp-action="ApagarConfirmacao" asp-route-id="@passageiro.Id" class="btn btn-danger">Apagar</a>
                 </td>
               </tr>  
        }
    }
  </tbody>
</table>